@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    ::-webkit-scrollbar {
        width: 10px; 
      }
      
      ::-webkit-scrollbar-track {
        background-color: #ffffff; 
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0); 
        border-radius: 5px; 
      }
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(255, 165, 0);
  background: linear-gradient(180deg, rgba(255, 165, 0, 1) 0%, rgba(230, 241, 230, 1) 28%, rgba(255, 255, 255, 1) 53%, rgba(128, 184, 128, 1) 81%, rgba(18, 122, 18, 1) 100%);
}


.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

::placeholder{
  color: black;
}

