.Logosec {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: space-evenly;
}

.Logosec img {
    user-select: none;
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto; 
    display: block; 
    border-radius: 100%; 
    border: 3px solid #000000; 
    transition: border 0.3s ease; 

}

