.Logosec {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: space-evenly;
}

.Logosec img {
    user-select: none;
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto; /* Center the image horizontally */
    display: block; /* Remove any default inline styling on images */
    border-radius: 100%; /* Ensure the image is a circle */
    border: 3px solid #000000; /* Add a white border to the circle */
    transition: border 0.3s ease; /* Add a smooth transition effect on hover */

}

